@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@font-face {
  font-family: "pretendard-JP";
  src: url("/public/font/PretendardJPVariable.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pretendard-Regular";
  src: url("/public/font/PretendardVariable.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
